
<% @category_total_amounts.each do |category, total_amount| %>
  <h2><%= link_to category.name, user_category_expenses_path(user_id: current_user.id, category_id: category.id) %> </h2>
    <%= image_tag category.image, class: 'category-image' if category.image.attached?%>
    <h2>Total Amount: <%= total_amount %></h2>
<% end %>





<%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "sign-out"%>
<%= button_to 'create a new category', new_user_category_path(user_id: current_user.id), method: :get %>


