<h1>All Categories</h1>
<%= link_to 'Back', root_path%>
<ul>



<% @category_total_amounts.each do |category, total_amount| %>
  <p><%= link_to category.name, user_category_expenses_path(user_id: current_user.id, category_id: category.id) %> </p>
    <%= image_tag category.image, class: 'category-image' if category.image.attached?%>
    <p>Total Amount: <%= total_amount %></p>
<% end %>

<%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "sign-out"%>
<%= button_to 'create a new category', new_user_category_path(user_id: current_user.id), method: :get %>
<%= button_to 'create a new transaction', new_user_category_path(user_id: current_user.id), method: :get %>
</ul>
