<h1>ADD Category</h1>
<h1>ADD Category</h1>
<%= link_to 'Back', root_path%>
<%= form_with model: @category, url: user_categories_path(current_user), method: :post, local: true do |form| %>
  <div class="add-form">
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: 'name-input' %><br>
    </div>
    <div>
      <%= form.label :image %><br>
      <%= form.file_field :image, class: 'image-input' %><br>
    </div>
    <br>
    <%= form.submit 'Save', class: 'post-button' %>
  </div>
<% end %>

