<h2>Expenses</h2>

<%= link_to 'Back', categories_path%>

<p>Total Amount<%= @total_amount %> </p>

<% @expenses.each do |expense| %>
  <div>
    <p><%= expense.name %></p>
    <p><%= expense.amount %></p>
    <p><%= expense.created_at.strftime('%B %d, %Y') %></p>
  </div>
<% end %>



<%= button_to 'Add expense', new_category_expense_path(user_id: current_user.id, category_id: @category.id), method: :get %>


