<h1>Add Expense</h1>
<%= link_to 'Back', root_path%>
<%= form_with(model: @expense, url: user_category_expenses_path(user_id: current_user.id, category_id: @category.id), local: true) do |form| %>
<%# <%= form_with(model: @expense, url: user_category_expenses_path(user_id: current_user.id, category_id: @category.id), local: true) do |form| %> %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>
  <%= form.submit 'Add Expense', class: 'btn btn-primary' %>
<% end %>

<%# Rails.application.routes.draw do
  devise_for :users

  authenticated do
    root to: "categories#index", as: :authenticated_user
  end
  root to: "home#index", as: :unauthenticated_user
  
  resources :entities
  resources :categories
  resources :users
  # Define your application routes per the DSL in https://guides.rubyonrails.org/routing.html

  # Defines the root path route ("/")
  # root "articles#index"
end %>